.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section-family {
  font-size: xx-large;
}

.emoji-family {
  font-size: 3em;
  margin-bottom: 1em;
}

.section-members {
  font-size: x-large;
}

.section-add button {
  font-size: x-large;
}

.members-list {
  display: flex;
  justify-content: center;
  align-items: bottom;
}

.members-list h2 {
  color: #999;
  margin-right: 0.5em;
  font-size: 1.5em;
}

.members-list p {
  font-size: 2em;
  margin: 0;
}

.members-list span {
  cursor: pointer;
  user-select: none;
}